@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
#hero{
    max-height: 650px;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url('hero-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
}
.hero-content{
    max-width: 664px;
    
}
#hero .hero-content .subtitle{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 32px;
font-weight: 600;
line-height: 78px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}

#hero .hero-content .title{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 38px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
}
#hero .hero-content .para{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 10px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.5;
margin-top: 20px;
}
.btn{
    border-radius: 8px;
    padding: 14px 18px 14px 18px;
background: rgb(82, 195, 3);
margin: 32px 0px;
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 12px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
border: none;
cursor: pointer;
}
.btn-container{
    text-align: center;
}
#card-box{
    max-width: 858px;
    margin: 100px auto;
}
#card-box .title{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 35px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0%;
text-align: center;
}
#card-box .subtitle{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
margin-bottom: 21px;
}

.card-container{
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-family: Work Sans;
}
.card{
    max-width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card .image-box{
    max-width: 275px;
}
.card .image-box img{
    max-width: 100%;
}
.card .shop{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
padding: 9px 17px 9px 17px;
background: rgba(82, 195, 3, 0.15);
}
.card h1{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 30px;
font-weight: 600;
line-height: 47px;
letter-spacing: 0%;
text-align: center;
}
.card p{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 11px;
font-weight: 500;
line-height: 15px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}
#about-us{
    max-width: 100%;
    max-height: 436px;
    display: flex;
}
#about-us .image{
    max-width: 50%;
    
}
#about-us .image img{
    max-width: 100%;
}
.about-content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.about-content h1{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 35px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 25px;
padding: 5px;
}
.about-content .firstp{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 20px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
opacity: 0.6;
margin-top: 0;
}
.about-content .secp{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 4px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.9;
margin-bottom: 30px;
}
.icons .fa-facebook{
   color: blue;
}
.icons .fa-instagram{
    color: orangered;
}
.icons .fa-pinterest{
color: red;
}
.icons .fa-x-twitter{
color: black;
}
.icons i{
margin-left: 5px;
max-height: 40px;
max-width: 20px;
font-size: 25px;
padding: 5px;
}
.follow{
    max-width: 858px;
    max-height: 30px;
    box-sizing: border-box;
border-bottom: 1px solid rgba(16, 16, 16, 0.2);
border-top: 1px solid rgba(16, 16, 16, 0.2);
padding: 30px 20px 30px 20px;
margin: 24px 0px;
}
#social{
max-width: 1255px;
justify-content: center;
align-items: center;
margin: 0 auto;
background-image:  linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),url('social-bg.png');
background-size: cover;
background-position: center;
left: 0;
top: 0;
}
.social-content{
    max-width: 1255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 436px;
    margin-top: 100px;
}
.social-content h1{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 35px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 25px;
padding: 5px;
margin-top: 89px;
}
.social-content .firstp{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 20px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
opacity: 0.6;
margin-top: 0;
}
.social-content .secp{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 4px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.9;
margin-bottom: 30px;
}